h1{
    font-family: 'Franklin Gothic Medium', 'serif';
    text-align: center;
}

blockquote{
    text-align: center;
}

img{
    float: left;
    width: 10%;
    height: auto;
}

div{
    background-color: silver;
    padding: 10px;
    margin: 20px;
}