h1{
    font-family: 'Franklin Gothic Medium', 'serif';
    text-align: center;
}

blockquote{
    text-align: center;
}

#inner{
    background-color: lavenderblush;
    padding: 30px;
}

#jumbo{
    background-color: powderblue;
}

#navBar{
    float: left;
}

createButton{
    position:fixed;
    float:left;
}

 .table-responsive{
    overflow-y: scroll;
    height: 400px;
}